<svg viewBox="0 0 800 250" class="chart">
    <line class="cursor" x1="80" y1="0" x2="80" y2="250"></line>
    <g class="x-lines">
        <line ng-repeat="line in $ctrl.y"
              x1="{{ $ctrl.offsetX }}"
              y1="{{ $ctrl.axisY(line.val) }}"
              x2="{{ $ctrl.width-$ctrl.offsetX }}"
              y2="{{ $ctrl.axisY(line.val) }}"></line>
    </g>
    <polyline class="path" fill="none" points="{{$ctrl.path()}}"></polyline>
    <g class="circles">
        <circle ng-repeat="point in $ctrl.data" cx="{{ $ctrl.axisX(point.x) }}" cy="{{ $ctrl.axisY(point.y) }}" r="4"></circle>
    </g>
    <g class="labels x-labels">
        <text ng-repeat="line in $ctrl.x" x="{{ $ctrl.axisX(line.val) }}" y="{{ $ctrl.height-$ctrl.offsetY }}">{{line.label}}</text>
    </g>
    <g class="labels y-labels">
        <text ng-repeat="line in $ctrl.y" x="{{ $ctrl.offsetX }}" y="{{ $ctrl.axisY(line.val) }}">{{line.label}}</text>
    </g>
</svg>